body {
    margin: 0;
    font-family: Arial;
    background: #051252;
}

nav {
    background-color: #051252;
    padding: 25px;

}

nav a {
    margin: 40px;
    color: white;
    text-decoration: none;
}

H1 {
    color: white;
    text-align: center;
    font-size: 64px;
}

.teams, .rename {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.team {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.player {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.player span {
    cursor: pointer;
    color: blue;
}

.profile {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}