
.noto-emoji-esport {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
    background-image: linear-gradient(to bottom, #4962da, #5663d3, #6165cb, #6966c4, #6f68bd, #8165b8, #9162b2, #9e60ab, #b8579d, #cd4e89, #da4a70, #e04e55);
}


body {
    margin: 0;
    height: 100vh;
}

nav {
    background-color: #051252;
    padding: 25px;
}

nav a {
    margin: 40px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color:#e04e55;
    padding: 10px;
    border-radius: 50%;
}

H1 {
    color: white;
    text-align: center;
    font-size: 64px;
}


.teams, .rename {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: center;
}

#playerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 399px;
}

.team {
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    background-color: #051252;
    color: white;
}

.player {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;

}

.player span {
    cursor: pointer;
    color: white;
}

.profile {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

button {
    background-color: #5C9CFA;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color:#051252;
    cursor: pointer;

}
